<article class="article">
  <div class="article-preview">
    <a [routerLink]="post?.id">
      <img [src]="post?.image" alt="#">
    </a>
  </div>
  <div class="description-wrapper">
    <div class="article-header">
      <h4>{{post?.title}}</h4>
    </div>
    <div class="article-description">
      <h5>mini-header</h5>
    </div>
    <div class="article-tags">
      <small>{{post?.tags}}</small>
      <small>{{post?.publisher}}</small>
      <small>{{post?.timestamp}}</small>
    </div>
  </div>
</article>
