<section class="teams-section" *ngIf="teams; else loading">
  <h2>Команды NBA</h2>
  <div class="grid-table-header">
    <span class="grid-header-item">Команда</span>
    <span class="grid-header-item">Дивизион</span>
    <span class="grid-header-item">Основана</span>
    <span class="grid-header-item">Арена</span>
    <span class="grid-header-item">Побед</span>
  </div>
  <app-team-detail [teams]="teams"></app-team-detail>
</section>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
