<section class="teams-section" *ngIf="teams; else loading">
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Team</th>
      <th>Division</th>
      <th>Foundation year</th>
      <th>Arena</th>
      <th>Win championship</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams">
      <td><img [src]="team.image" alt="team logo" class="team-logo"></td>
      <td><a routerLink="teams/{{ team.name }}">{{ team.name }}</a></td>
      <td>{{ team.division }}</td>
      <td>{{ team.year }}</td>
      <td>{{ team.arena }}</td>
      <td>{{ team.champions }}</td>
    </tr>
    </tbody>
  </table>
</section>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
