form {
  background-color: #383A3F;
  padding: 1rem;
  width: 50%;
  height: 40vh;
  text-align: center;
  margin: 5rem auto;
  color: white;

  label[for="email"] {
    margin: 1.3rem;
  }
  label[for="password"] {
    margin: .3rem;
  }

  input {
    height: 2rem;
    background-color: lightgrey;
    border-color: #F68657;
    font-size: 1rem;
    margin-bottom: .7rem;
    padding-left: .3rem;
  }

  .btn {
    padding: .3rem 1.5rem;
    margin: 1rem;
    background-color: #F6B352;
    cursor: pointer;

    &:hover {
      background-color: #F68657;
    }
  }
}

@media (max-width: 993px) {
  form {
    width: 100%;
  }
}
