<section class="rating-section" *ngIf="teamsAll; else loading">
  <h3>West Teams</h3>
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Team</th>
      <th>Division</th>
      <th>Wins</th>
      <th>Loses</th>
    </tr>
    </thead>
    <app-rating-detail [teams]="teamsWest"></app-rating-detail>
  </table>
  <h3>East Teams</h3>
  <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>Team</th>
      <th>Division</th>
      <th>Wins</th>
      <th>Loses</th>
    </tr>
    </thead>
    <app-rating-detail [teams]="teamsEast"></app-rating-detail>

  </table>
</section>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
