.grid-container {
  display: grid;
  grid-template-columns: .45fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  color: white;

    .grid-item {
      align-self: center;
    }

    img {
      width: 100%;
      height: auto;
    }

    .post-title {
      color: bisque;
      margin-bottom: 1rem;
    }
}
