<!--<article class="article">-->
<!--  <div class="article-preview">-->
<!--    <a href="/">-->
<!--      <img src="https://allbasketball.org/uploads/posts/2019-08/1565272110_jaysontatum.jpg" alt="#"-->
<!--           (mouseover)="articleDescrShow(wrapper, descr)" (mouseleave)="articleDescrHide(wrapper, descr)">-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="description-wrapper" #wrapper>-->
<!--    <div class="article-header">-->
<!--      <h3>В новый сезон, в старой команде...</h3>-->
<!--    </div>-->
<!--    <div class="article-description" #descr>-->
<!--      <h4>Реализует ли свой потенциал Jason Tatum?</h4>-->
<!--    </div>-->
<!--    <div class="article-info">-->
<!--      <small>30.09.2019</small>-->
<!--    </div>-->
<!--  </div>-->
<!--</article>-->
<app-article></app-article>
